.title {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: #e9e5e5;
}

.nav ul {
  padding-left: 0;
  font-size: 1.6rem;
}

.nav ul ul {
  padding-left: 1rem;
  font-size: 1.5rem;
}

.nav li {
  margin-top: .8rem;
  list-style: none;
}

.link {
  text-decoration: none;
  color: #b8b4b4;
  transition: color 250ms ease-in-out;
}

.link:hover {
  color: var(--color);
}
