article>*+* {
  margin-bottom: 2rem;
}

article h2,
article h3 {
  position: relative;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: var(--pink-color);
}

@media screen and (min-width: 769px) {
  article h2 a::before,
  article h3 a::before {
    content: '🔗';
    position: absolute;
    left: -4rem;
    display: inline-block;
    opacity: 0;
    transition: opacity 250ms ease;
  }

  article h2:hover a::before,
  article h3:hover a::before {
    opacity: 1;
  }
}

article a {
  text-decoration: none;
  color: var(--blue-color);
}

article a:hover {
  text-decoration: underline;
}

article pre {
  font-size: 1.6rem;
}

article ul {
  list-style-position: inside;
  list-style-type: disc;
  padding-left: 1.5rem;
}

article ul ul {
  list-style-type: circle;
}

article ol {
  padding: 0;
  list-style-position: inside;
}

article ol>li>ul {
  margin-left: 1rem;
  list-style-position: inside;
  list-style-type: circle;
}
