*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: clamp(1.8rem, 4vw, 2rem);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
  color: var(--color);
  transition:
    color var(--transition-duration) ease-in-out,
    background-color var(--transition-duration) ease-in-out;
}

svg,
img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

a {
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
