.postCard {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 40rem;
  text-decoration: none;
  transition: color 200ms ease-in-out;
}

.h3Title {
  font-size: 2.8rem;
}

.time {
  color: var(--gray-color);
  transition: color 200ms ease-in-out;
}

.postCard:hover,
.postCard:hover .time {
  color: hsl(53, 93%, 54%);
}
