.h1Title {
  font-size: clamp(4rem, 4vw, 4.5rem);
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 4rem;
}

.latestPost {
  display: flex;
  justify-content: space-between;
}

.h2Title {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.posts {
  margin-bottom: 5rem;
}

@media screen and (max-width: 769px) {
  .latestPost {
    flex-direction: column;
    gap: 3rem;
  }

  .imageDecoration {
    align-self: center;
  }
}
