.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-block: 5rem;
}

.headerTitle {
  font-size: clamp(4rem, 4vw, 5rem);
}

.latestPost {
  display: flex;
  justify-content: space-between;
}

.h2Title {
  margin-bottom: 3rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.imageDecoration {
  filter: saturate(0);
  transition: filter 250ms ease-in-out;
}

.imageDecoration:hover {
  filter: saturate(1);
}

.posts {
  margin-bottom: 5rem;
}

@media screen and (max-width: 769px) {
  .latestPost {
    flex-direction: column;
    gap: 3rem;
  }

  .imageDecoration {
    align-self: center;
  }

  .searchBar {
    max-width: 100%;
  }
}
