.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
}

@media screen and (max-width: 500px) {
  .footer {
    gap: 2rem;
    flex-direction: column;
    align-items: center;
  }
}

.linksContainer {
  display: flex;
  gap: 1.5rem;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}